<h1>Dashboard</h1>
<table>
  <thead>
    <tr>
      <th>Company</th>
      <th>Job Title</th>
      <th>Location</th>
      <th>Salary</th>
      <th></th>
    </tr>
  </thead>
  <% @jobs.each do |job| %>
    <tbody>
      <td><a><%= job.company %></a></td>
      <td><%= job.title %></td>
      <td><%= job.location %></td>
      <td><%= job.salary %></td>
      <td><a><%= link_to "Edit", edit_job_path(job) %></a></td>
    </tbody>
  <% end %>
</table>
